    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="container text-center">
                <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-lg" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a>
                    </li>
                    {% endfor %}
                    <a href="{{ site.strava-url }}" class="btn btn-lg" target="_blank"><i class="fa fa-compass fa-fw"></i></a>
                    <a href="mailto:{{ site.email }}" class="btn btn-lg" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
                </ul>
            </div>
        </div>
    </footer>
