<!-- Bio Header -->
<header class="bio-intro">
    <div class="bio-intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="bio-brand-heading">{{ site.title }}</h1>
                    <!-- <p class="bio-intro-text">{{ site.intro-quote }}<br> -->
                    <a href="#bio" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
